<mat-card appearance="outlined">
    <mat-card-actions>
        <button mat-button (click)="close.emit()">Remover filial</button>
    </mat-card-actions>
    <mat-card-content>
        <form class="form" [formGroup]="registerFormGroup">
            <mat-form-field>
                <mat-label>Numero da filial</mat-label>
                <input type="number" matInput formControlName="branchNumber">
            </mat-form-field>
            <mat-form-field>
                <mat-label>CNPJ</mat-label>
                <input type="number" matInput formControlName="branchCNPJ">
                <button matSuffix mat-icon-button (click)="onCNPJLoad()">
                    <mat-icon>search</mat-icon>
                </button>
                @if(activeProgressBar()){
                <mat-progress-bar mode="query"></mat-progress-bar>
                }
            </mat-form-field>
            <mat-form-field>
                <mat-label>Razão social</mat-label>
                <input type="text" matInput formControlName="branchName">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Nome fantasia</mat-label>
                <input type="text" matInput formControlName="branchFantasy">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Token</mat-label>
                <input type="text" matInput formControlName="branchCSCToken">
            </mat-form-field>
            <mat-form-field>
                <mat-label>ID</mat-label>
                <input type="number" matInput formControlName="branchCSCID">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Telefone Cupom</mat-label>
                <input type="tel" matInput formControlName="branchPhone">
            </mat-form-field>
            <mat-form-field>
                <mat-label>E-mail cobrança</mat-label>
                <input type="email" matInput formControlName="branchEmail">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Regime Tributario</mat-label>
                <input type="text" matInput formControlName="branchLaw">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Participante do ROT</mat-label>
                <input type="text" matInput formControlName="branchROT">
            </mat-form-field>
        </form>
        <app-branches-bank-form [bankForm]="registerFormGroup"></app-branches-bank-form>
    </mat-card-content>
</mat-card>