<mat-card appearance="outlined">
    <mat-card-header>
        <mat-card-title>Geral</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form class="form" [formGroup]="generalForm">
            <mat-form-field>
                <mat-label>Data do start</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="startDate">
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Vendedor</mat-label>
                <input matInput formControlName="saller">
            </mat-form-field>
            <mat-form-field>
                <mat-select placeholder="Start" formControlName="startType">
                    <mat-option value="Presencial">Presencial</mat-option>
                    <mat-option value="Remoto">Remoto</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Nome do sistema atual</mat-label>
                <input matInput formControlName="systemConversion">
            </mat-form-field>
            <div class="mat-checkbox-container">
                <mat-label class="mat-checkbox-title">Dados para conversão</mat-label>
                <div>
                    <mat-checkbox formControlName="whatConverterClients">
                        Clientes
                    </mat-checkbox>
                    <mat-checkbox formControlName="whatConverterProducts">
                        Produtos
                    </mat-checkbox>
                    <mat-checkbox formControlName="whatConverterSuppliers">
                        Fornecedores
                    </mat-checkbox>
                </div>
            </div>
            <mat-form-field>
                <mat-label>Link base ou dados para conversão:</mat-label>
                <input matInput formControlName="linkConversion">
            </mat-form-field>
            <mat-form-field>
                <mat-select placeholder="Tipo de sistema" formControlName="typeConversion">
                    <mat-option value="posto" selected>Posto Simples</mat-option>
                    <mat-option value="central">Central</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="textarea">
                <mat-label>OBS conversão</mat-label>
                <textarea matInput formControlName="conversionDataObservation"></textarea>
            </mat-form-field>
        </form>
    </mat-card-content>
</mat-card>