<mat-card appearance="outlined">
    <mat-card-header>
        <mat-card-title>Geral</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form class="form" [formGroup]="generalForm">
            <mat-form-field>
                <mat-label>Data do start</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="startDate">
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Vendedor</mat-label>
                <input matInput formControlName="saller">
            </mat-form-field>
            <mat-form-field>
                <mat-select placeholder="Start" formControlName="startType">
                    <mat-option value="Presencial">Presencial</mat-option>
                    <mat-option value="Remoto">Remoto</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Nome do sistema</mat-label>
                <input matInput formControlName="systemConversion">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Dados para conversão</mat-label>
                <input matInput formControlName="systemConversion">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Link base ou dados para conversão:</mat-label>
                <input matInput formControlName="systemConversion">
            </mat-form-field>
        </form>
    </mat-card-content>
</mat-card>