<mat-card appearance="outlined">
    <mat-card-header>
        <mat-card-title>Outras informações</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form class="form" [formGroup]="otherForm()">
            <mat-form-field>
                <mat-label>Nome Proprietario</mat-label>
                <input type="text" matInput formControlName="propertyOwnerName">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Telefone Proprietario</mat-label>
                <input type="tel" matInput formControlName="propertyOwnerPhone">
            </mat-form-field>
            <mat-form-field>
                <mat-label>E-mail Proprietario</mat-label>
                <input type="email" matInput formControlName="propertyOwnerEmail">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Tef</mat-label>
                <mat-select placeholder="TEF" formControlName="hasTef" (valueChange)="onChange($event)">
                    <mat-option [value]=false>Não</mat-option>
                    <mat-option [value]=true>Sim</mat-option>
                </mat-select>
            </mat-form-field>
            @if (hasAdiquitente()) {
            <mat-form-field>
                <mat-label>Adquirente</mat-label>
                <input type="text" matInput formControlName="tefAdiquirente">
            </mat-form-field>
            <div class="mat-checkbox-container">
                <mat-label class="mat-checkbox-title">Filiais com tef</mat-label>
                <div class="checkbox-container">
                    @for (branch of allBranches; track $index) {
                    <div formArrayName="branchesWithTef">
                        <mat-checkbox [formControlName]="$index">
                            F-{{ branch.number || $index + 1 }}
                        </mat-checkbox>
                    </div>
                    }
                </div>
            </div>
            }
            <mat-form-field>
                <mat-label>Pix Integrado</mat-label>
                <mat-select placeholder="Pix Integrado" formControlName="hasPix" (valueChange)="onChangePix($event)">
                    <mat-option [value]=false>Não</mat-option>
                    <mat-option [value]=true>Sim</mat-option>
                </mat-select>
            </mat-form-field>
            @if (hasPixIntegraded()) {
            <div class="mat-checkbox-container">
                <mat-label class="mat-checkbox-title">SIM Verde Card</mat-label>
                <div class="checkbox-container">
                    @for (branch of allBranches; track $index) {
                    <div formArrayName="branchesWithPix">
                        <mat-checkbox [formControlName]="$index">
                            F-{{ branch.number || $index + 1 }}
                        </mat-checkbox>
                    </div>
                    }
                </div>
            </div>
            }
            <div class="mat-checkboxModulo-container">
                <mat-label class="mat-checkbox-title">Módulos Argo</mat-label>
                <div formGroupName="argoModules">
                    <mat-checkbox formControlName="argo360Custom">
                        Argo 360 Customizado
                    </mat-checkbox>
                    <mat-checkbox formControlName="argo360">
                        Argo 360
                    </mat-checkbox>
                    <mat-checkbox formControlName="customerPortal">
                        Portal do Cliente
                    </mat-checkbox>
                </div>
            </div>
            <div class="mat-checkbox-container">
                <mat-label class="mat-checkbox-title">Módulos Distribuidora</mat-label>
                <div class="checkbox-container" formGroupName="argoModulesDistribution">
                    <mat-checkbox formControlName="ipirangaAmPm">
                        Ipiranga Am/Pm
                    </mat-checkbox>
                    <mat-checkbox formControlName="ipitangaPista">
                        Ipiranga Pista
                    </mat-checkbox>
                    <mat-checkbox formControlName="ipirangaFrotas">
                        Ipiranga Pró Frotas
                    </mat-checkbox>
                    <mat-checkbox formControlName="ipirangaJetOil">
                        Ipiranga Jet Oil
                    </mat-checkbox>
                    <mat-checkbox formControlName="vibraGasStaion">
                        Vibra Posto
                    </mat-checkbox>
                    <mat-checkbox formControlName="vibraMania">
                        Vibra Mania
                    </mat-checkbox>
                    <mat-checkbox formControlName="shellBox">
                        Shell Box
                    </mat-checkbox>
                    <mat-checkbox formControlName="shellSelect">
                        Shell Select
                    </mat-checkbox>
                </div>
            </div>
            <mat-form-field class="textarea">
                <mat-label>OBS Distribuidora</mat-label>
                <textarea matInput formControlName="otherInformations"></textarea>
            </mat-form-field>
        </form>
    </mat-card-content>
</mat-card>