.container {
    background-image: url("../../../../public/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}